.form {
  &Card {
    margin: auto;
    max-width: 400px;
    text-align: center;
    border-radius: 16px;
    margin-bottom: 5rem;
    background: #232932;
    border: 2px solid #1a374d;
    padding: 22px 40px 40px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    h3 {
      font-size: 2rem;
    }
    input[type='text'],
    input[type='email'],
    textarea {
      border: 0;
      width: 100%;
      padding: 3px;
      color: #fff;
      border-radius: 3px;
      background: #1a374d;
      border-bottom: 1px solid #ccc;
      &:focus {
        outline: 1px solid #fff3;
      }
    }
    textarea:focus {
      background: url(/whypigtho.svg) center no-repeat, #1a374d;
    }
    input::placeholder,
    textarea::placeholder {
      color: rgb(168, 168, 168) !important;
    }
    textarea:not(:placeholder-shown) {
      background: #1a374d;
    }
    input[type='submit'] {
      font-size: 1.2rem;
      background: #99feff;
      border-radius: 4px;
      cursor: pointer;
      padding: 0.4rem 2rem;
      display: inline-block;
      border: none;
      transition: transform 0.15s ease-in;
      &:hover {
        background: #c2fff9;
        transform: scale(1.1);
      }
    }
    &.submitted {
      padding: 2rem;
      h3,
      form {
        display: none;
      }
      .submitMsg {
        display: inline;
        margin-bottom: 0;
      }
    }
  }
  &Control {
    margin: 2rem auto;
  }
}

.submitMsg {
  display: none;
}

svg.tick {
  color: #1dff1d;
  display: inline;
  font-size: 2.2rem;
  margin: -0.6rem 0;
}
