.footer {
  color: #eee;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.footer p {
  margin-bottom: 0;
}