:root {
  --main-bg-color: #232932;
  --darkest: #1a374d;
  --dark: #406882;
  --light: #c2fff9;
  --lightest: #99feff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  /* Prevent any object from being highlighted upon touch event */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  scrollbar-color: #fff;
  &::selection {
    background: #6998ab;
  }
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: #2d333b;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #848484;
    border-radius: 20px;
  }
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--main-bg-color);
}

img,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

a {
  color: var(--lightest);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: var(--light);
  }
}

iframe {
  border: 0;
  border-radius: 16px;
}

code {
  font-family: monospace;
  font-size: 1rem;
  background: var(--darkest);
  margin: 0 0.2rem;
  padding: 0.2rem;
  border-radius: 6px;
}

#tsparticles {
  z-index: -1 !important;
  position: absolute;
}

/* seen the easter egg */
.seenit {
  display: none !important;
}
