.nav {
  top: 0;
  z-index: 2;
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.35s ease-in-out, transform 0.35s ease-in-out,
    top 0.35s ease-in-out;
}

.showBg {
  top: -61px;
  background-color: rgba(35, 41, 50, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  &:hover {
    top: 0;
  }
}

.hideBg {
  background-color: transparent;
}

.link {
  margin: 0 1rem;
  padding: 0 1rem;
  display: inline-block;
  transition: transform 0.15s ease-in-out, color 0.15s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.hamburger {
  top: 0;
  right: 0;
  border: 0;
  z-index: 3;
  width: 4rem;
  height: 4rem;
  display: none;
  cursor: pointer;
  position: fixed;
  background: none;
  flex-flow: column nowrap;
  justify-content: space-around;
  &::before {
    content: '';
    width: 55px;
    height: 55px;
    z-index: -1;
    right: 4px;
    position: absolute;
    background: #0000;
    rotate: 45deg;
    border-radius: 50%;
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 5px 5px rgba(34, 34, 34, 0.6);
  }
  &:focus-visible {
    outline: 0;
  }
  svg {
    transition: rotate 0.3s ease, transform 0.3s ease;
  }
  path {
    fill: none;
    stroke: white;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 60 31 60 300;
    transition: stroke-dasharray 0.3s ease, stroke-dashoffset 0.3s ease;
  }
  &[aria-expanded='true'] {
    svg {
      rotate: 45deg;
      transform: translate(0px, -5px);
    }
    path {
      stroke-dashoffset: -90;
      stroke-dasharray: 60 105 60 300;
    }
  }
}

@media (max-width: 969px) {
  .nav {
    right: 0;
    gap: 2rem;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    flex-direction: column;
    padding: 3rem 0 1rem 0;
    transition: transform 0.25s ease-out;
    background-color: rgba(35, 41, 50, 0.98);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    .link {
      margin-bottom: 1.5rem;
    }
    &.closed {
      flex-direction: column;
      transition-delay: 0.1s;
      transform: translateX(100vw);
      a {
        transform: translateX(100vw);
      }
    }
    &.open {
      transform: translateX(0);
      a {
        transform: translateX(0);
      }
    }
    a {
      transition: transform 0.15s ease-in;
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          transition-delay: calc(#{$i} * 0.05s);
        }
      }
    }
  }
  .hamburger {
    display: flex;
  }
  .showBg {
    top: 0;
  }
}
